* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    flex-flow: column;
    background: #272727;
    width: 100%;
    max-width: 1920px;
}

header {
    margin-top: 16px;
    width: 100%;
    max-width: 1140px;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav h1 {
    color: white;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.header__nav__links {
    width: 100%;
    max-width: 625px;
    display: flex;
    justify-content: center;
    gap: 64px;
    font-size: 16px;
    color: #D1D1D1;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1px;
    line-height: 80px;
    padding-top: 10px;
}

.links__a {
    color: #D1D1D1;
    text-decoration: none;
}

.links__a__main {
    color: white;
    text-decoration: none;
}

.header__border {
    width: 100%;
    max-width: 1140px;
    border: 0.7px solid #4D4D4D;
}

section {
    display: flex;
    max-width: 1140px;
    gap: 30px;
    padding-top: 60px;
    width: 100%;
}

.section__title {
    max-width: 458px;
    width: 100%;
}

.section__title__text {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 72px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.section__img {
    padding-top: 11px;
}

.section__background__2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 555px;
    height: 282px;
    padding-right: 70px;
    background-color: #323443;
}

.content__top {
    display: flex;
    flex-flow: column;
    padding-left: 47px;
    padding-top: 25px;
    gap: 35px;
}

.content__bottom {
    display: flex;
    padding-left: 47px;
}

.web__redact {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    padding-top: 20px;
    color: #DEDEDE;
}

.bolder__redact {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    padding-top: 22px;
    color: #FFFFFF;
}

.text__web p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    display: flex;
    align-items: center;
    letter-spacing: 0.014em;
    padding-top: 28px;
    color: #D5D5D5;
}

.text__web .bolder__redact {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height, or 117% */
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    padding-top: 22px;
    color: #FFFFFF;
}